.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;

    .modalContent {
        padding: 25px;
        background: white;
        border-radius: 16px;
        min-width: 250px;
        transition: 0.5s;
    }
}

.modal.active {
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    pointer-events: all;
}